parameters:
	ignoreErrors:
		-
			message: '#^Method Marsender\\EPubLoader\\Models\\BaseInfo\:\:fromJson\(\) should return Marsender\\EPubLoader\\Models\\AuthorInfo\|Marsender\\EPubLoader\\Models\\BookInfo\|Marsender\\EPubLoader\\Models\\SeriesInfo but returns static\(Marsender\\EPubLoader\\Models\\BaseInfo\)\.$#'
			identifier: return.type
			count: 1
			path: src/Models/BaseInfo.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Models/BaseInfo.php

		-
			message: '#^Using nullsafe property access "\?\-\>errors" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Workflows/Workflow.php

		-
			message: '#^Using nullsafe property access "\?\-\>messages" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Workflows/Workflow.php
