<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="./vendor/autoload.php" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="./clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="epub-loader">
      <directory>./tests/</directory>
      <exclude>./test/WebDriverTest.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./app/</directory>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./tests</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
  </source>
</phpunit>
