<?php
/**
 * Epub loader config
 *
 * @license    GPL v2 or later (http://www.gnu.org/licenses/gpl.html)
 * @author     Didier Corbière <contact@atoll-digital-library.org>
 * @author     mikespub
 */

$gConfig = [];

/**
 * URL endpoint for your application
 */
$gConfig['endpoint'] = $_SERVER['SCRIPT_NAME'] ?? null;

/**
 * Application name
 */
$gConfig['app_name'] = 'EPub Loader';

/**
 * Application version
 */
$gConfig['version'] = '3.3';

/**
 * Admin email
 */
$gConfig['admin_email'] = '';

/**
 * Create Calibre databases ?
 *
 * If true: databases are removed and recreated before loading ebooks
 * If false: append ebooks into databases
 */
$gConfig['create_db'] = true;

/**
 * Specify a cache directory for any Google or Wikidata lookup
 */
$gConfig['cache_dir'] = dirname(__DIR__) . '/cache';

/**
 * Databases infos
 *
 * For each database:
 *   name: The database name to display
 *   db_path: The path where to create the database
 *   epub_path: The relative path from db_path where to look for the epub files
 */
$gConfig['databases'] = [];
$gConfig['databases'][] = ['name' => 'Some Books', 'db_path' => dirname(__DIR__, 2) . '/seblucas-cops/tests/BaseWithSomeBooks', 'epub_path' => '.'];
$gConfig['databases'][] = ['name' => 'Littérature classique', 'db_path' => '/opt/ebooks/calibre/demo', 'epub_path' => 'epub'];
$gConfig['databases'][] = ['name' => 'Bibliothèque numérique romande', 'db_path' => '/opt/ebooks/calibre/bnr', 'epub_path' => 'epub'];
$gConfig['databases'][] = ['name' => 'La Bibliothèque d\'Ebooks', 'db_path' => '/opt/ebooks/calibre/bibebook', 'epub_path' => 'epub'];
$gConfig['databases'][] = ['name' => 'EPub Tests', 'db_path' => dirname(__DIR__, 2) . '/calibre/library', 'epub_path' => '.'];

/**
 * Available actions
 * @deprecated 3.3.0 use action groups instead
 */
$gConfig['actions'] = [];

/**
 * Available action groups
 */
$gConfig['groups'] = [];
$gConfig['groups']['Import'] = [
    'db_load' => 'Create Calibre database with available epub files',
    'csv_import' => 'Import CSV records into new Calibre database',
    'json_import' => 'Import JSON files from Lookup into new Calibre database',
];
$gConfig['groups']['Export'] = [
    'csv_export' => 'Export CSV records from Calibre database',
];
$gConfig['groups']['Lookup'] = [
    'authors' => 'Authors in database',
    'wd_author' => 'WikiData authors',
    'wd_books' => 'WikiData books for author',
    'wd_series' => 'WikiData series for author',
    'wd_entity' => 'WikiData entity',
    'gb_books' => 'Google Books for author',
    'gb_volume' => 'Google Books volume',
    'ol_author' => 'OpenLibrary authors',
    'ol_books' => 'OpenLibrary books for author',
    'ol_work' => 'OpenLibrary work',
    'gr_author' => 'GoodReads authors',
    'gr_books' => 'GoodReads books for author',
    'gr_series' => 'GoodReads series',
];
$gConfig['groups']['Extra'] = [
    'notes' => 'Get Calibre Notes',
    'resource' => 'Get Calibre Resource',
    'hello_world' => 'Example: Hello, World - see app/example.php',
    'goodbye' => 'Example: Goodbye - see app/example.php',
];

return $gConfig;
