{% if not raw %}
<table class="series">
	<!--
	<tr class="series">
		<th class="left">Property</th>
		<th>Value</th>
	</tr>
	-->
	<tr>
		<th class="left">Title</th>
		<th><a href="{{endpoint}}/series/{{dbNum}}?seriesId={{serie.id}}">{{serie.title}}</a></th>
	</tr>
	{% if serie.index %}
	<tr>
		<td>Index</td>
		<td>{{serie.index}}</td>
	</tr>
	{% endif %}
	{% if serie.link %}
	<tr>
		<td>Link</td>
		<td><a rel="external" target="_blank" href="{{serie.link}}">{{serie.link}}</a></td>
	</tr>
	{% endif %}
	{% if serie.note %}
		{{ include('models/note.html', {note: serie.note, endpoint: endpoint, dbNum: dbNum}, with_context = false) }}
	{% endif %}
	{% if serie.authors %}
	<tr class="authors">
		<th>Authors</th>
		<th>{{serie.authors|length}}</th>
	</tr>
	{% for author in serie.authors %}
	<tr>
		<th class="authors"><a href="{{endpoint}}/authors/{{dbNum}}/{{author.id}}?seriesId={{serie.id}}">Author {{author.id}}</a></td>
		<td>
			{{ include('models/author.html', {author: author, endpoint: endpoint, dbNum: dbNum}, with_context = false) }}
		</td>
	</tr>
	{% endfor %}
	{% endif %}
	{% if serie.books %}
	<tr class="books">
		<th>Books</th>
		<th>{{serie.books|length}}</th>
	</tr>
	{% for book in serie.books %}
	<tr>
		<th class="books"><a href="{{endpoint}}/books/{{dbNum}}?bookId={{book.id}}">Book {{book.id}}</a></td>
		<td>
			{{ include('models/book.html', {book: book, endpoint: endpoint, dbNum: dbNum}, with_context = false) }}
		</td>
	</tr>
	{% endfor %}
	{% endif %}
</table>
{% else %}
<pre>
{{serie|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE'))}}
</pre>
{% endif %}
