{% extends 'index.html' %}

{% block content %}
<div class="title">
	<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> for <a href="{{endpoint}}/{{action}}/{{dbNum}}">{{dbConfig.name}}</a>
	{% block findlinks %}
	{% endblock findlinks %}
</div>
<form method="POST" action="{{endpoint}}/{{action}}/{{dbNum}}">
<table width="100%">
	<tr>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}">Id</a></th>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}?sort=name">Name</a></th>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}?sort=sort">Sort</a></th>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}?sort=books">Books</a></th>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}?sort=series">Series</a></th>
		<th>Action</th>
		<th>Link</th>
	</tr>
	{% for item in authors %}
	<tr>
		<td>{{item.id}}</td>
		<td>
			{{item.name}}
		</td>
		<td>{{item.sort}}</td>
		<td>{{item.books}}</td>
		<td>{{item.series}}</td>
		<td>
			{{ include('links.html', {itemId: item.id}) }}
		</td>
		<td><input type="url" name="link[{{item.id}}]" value="{{item.link}}" size="32" /> {% if item.entityId %}<a href="{{endpoint}}/{{item.entityType}}/{{dbNum}}/{{authorId}}?matchId={{item.entityId}}">{{item.entityId}}</a>{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</form>
{% block lookup %}
{% if authorId %}
<div class="part">
	<p>Lookup:</p>
	{{authorId}}
</div>
{% endif %}
{% endblock lookup %}
{% endblock content %}
