{% extends 'index.html' %}

{% block content %}
<div class="title">
	<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> for <a href="{{endpoint}}/{{action}}/{{dbNum}}">{{dbConfig.name}}</a>
	{% block findlinks %}
	{% endblock findlinks %}
</div>
<form method="POST" action="{{endpoint}}/{{action}}/{{dbNum}}">
<table width="100%">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Sort</th>
		<th>Books</th>
		<th>Series</th>
		<th>Action</th>
		<th>Link</th>
	</tr>
	{% for item in authors %}
	<tr>
		<td>{{item.id}}</td>
		<td>
			{{item.name}}
		</td>
		<td>{{item.sort}}</td>
		<td>{{bookcount[item.id]}}</td>
		<td>{{seriescount[item.id]}}</td>
		<td>
			<a href="{{endpoint}}/wd_author/{{dbNum}}/{{item.id}}" title="WikiData Author">Check</a>
			<a href="{{endpoint}}/wd_books/{{dbNum}}/{{item.id}}" title="WikiData Books">Books</a>
			<a href="{{endpoint}}/wd_series/{{dbNum}}/{{item.id}}" title="WikiData Series">Series</a>
			<a href="{{endpoint}}/gb_books/{{dbNum}}/{{item.id}}" title="Google Books">Google</a>
			<a href="{{endpoint}}/ol_author/{{dbNum}}/{{item.id}}" title="OpenLibrary Author">Author</a>
			<a href="{{endpoint}}/ol_books/{{dbNum}}/{{item.id}}" title="OpenLibrary Works">Works</a>
		</td>
		<td><input type="url" name="link[{{item.id}}]" value="{{item.link}}" size="32" /> {% if item.entityId %}<a href="{{endpoint}}/{{item.entityType}}/{{dbNum}}/{{authorId}}?matchId={{item.entityId}}">{{item.entityId}}</a>{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</form>
{% block lookup %}
{% if authorId %}
<div class="part">
	<p>Lookup:</p>
	{{authorId}}
</div>
{% endif %}
{% endblock lookup %}
{% endblock content %}
