{% extends 'index.html' %}

{% block content %}
<div class="title">
	<form method="GET" action="{{endpoint}}/{{action}}/{{dbNum}}">
		<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> in <a href="{{endpoint}}/authors/{{dbNum}}">{{dbConfig.name}}</a>
		{% if authorId %}
			<a href="{{endpoint}}/authors/{{dbNum}}/{{authorId}}">Author</a>
		{% else %}
			Author
		{% endif %}
		<select name="authorId">
			<option value=""></option>
			{% for id, name in authors %}
			{% if authorId and authorId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		{% if series is defined %}
		{% if seriesId %}
			<a href="{{endpoint}}/series/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}">Series</a>
		{% else %}
			Series
		{% endif %}
		<select name="seriesId">
			<option value=""></option>
			{% for id, name in series %}
			{% if seriesId and seriesId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		{% endif %}
		<input type="submit" value="Find"/>
		{{ include('links.html', {itemId: authorId}) }}
	</form>
</div>
<form method="POST" action="{{endpoint}}/{{action}}/{{dbNum}}">
<table width="100%">
	<tr>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&sort=id">Id</a></th>
		<th>
			<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&sort=title">Title</a>
			| <a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&sort=sort">Sort</a>
		</th>
		<th>
			{% if seriesId %}
				<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&sort=series_index">Index</a>
			{% else %}
				<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&sort=series">Series</a>
			{% endif %}
		</th>
		<th>Action</th>
		{% for type in identifiers %}
		<th>{{type}}</th>
		{% endfor %}
	</tr>
	{% for item in books %}
	<tr>
		<td><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?bookId={{item.id}}">{{item.id}}</a></td>
		<td>{{item.title}}</td>
		<td>
			{% if item.series %}
				{% if seriesId and item.series == seriesId %}
					#{{ item.series_index }}
				{% elseif series is defined and series[item.series] is defined %}
					<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?seriesId={{ item.series }}">{{series[item.series]}}</a> #{{ item.series_index }}
				{% else %}
					<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?seriesId={{item.series}}">{{ item.series }}</a> #{{ item.series_index }}
				{% endif %}
			{% endif %}
		</td>
		<td>
			{% if matchId %}
				{% if bookId == item.id %}
					<strong>Match</strong>
				{% else %}
					<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?bookId={{item.id}}&matchId={{matchId}}">Match</a>
				{% endif %}
			{% elseif bookId == item.id %}
				<strong>Search</strong>
			{% else %}
				<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?bookId={{item.id}}">Search</a>
			{% endif %}
		</td>
		{% for type in identifiers %}
		<td>
			{% if item.identifiers[type] is defined %}
				{% set identifier = item.identifiers[type] %}
				{% if type == 'ID:' or type == identifierType %}
					{% set label = identifier.value %}
				{% else %}
					{% set label = ' Y ' %}
				{% endif %}
				{% if identifier.url %}
					<a rel="external" target="_blank" href="{{identifier.url}}" title="{{identifier.value}}">{{label}}</a>
				{% else %}
					<a href="#" title="{{identifier.value}}">{{label}}</a>
				{% endif %}
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</form>
{% block lookup %}
{% if bookId %}
<div class="part">
	<p><b>Database Book</b></p>
	<p>{{ include('links.html', {itemId: authorId}) }}</p>
<pre>
{{bookInfo|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE'))}}
</pre>
</div>
{% endif %}
{% endblock lookup %}
{% endblock content %}
