{% extends 'index.html' %}

{% block content %}
<div class="title">
	<form method="GET" action="{{endpoint}}/{{action}}/{{dbNum}}">
		<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> in <a href="{{endpoint}}/authors/{{dbNum}}">{{dbConfig.name}}</a>
		Author <select name="authorId">
			<option value=""></option>
			{% for id, name in authors %}
			{% if authorId and authorId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="Find"/>
		<a href="{{endpoint}}/wd_author/{{dbNum}}/{{authorId}}" title="WikiData Author">Check</a>
		<a href="{{endpoint}}/wd_books/{{dbNum}}/{{authorId}}" title="WikiData Books">Books</a>
		<a href="{{endpoint}}/wd_series/{{dbNum}}/{{authorId}}" title="WikiData Series">Series</a>
		<a href="{{endpoint}}/gb_books/{{dbNum}}/{{authorId}}" title="Google Books">Google</a>
		<a href="{{endpoint}}/ol_author/{{dbNum}}/{{authorId}}" title="OpenLibrary Author">Author</a>
		<a href="{{endpoint}}/ol_books/{{dbNum}}/{{authorId}}" title="OpenLibrary Works">Works</a>
	</form>
</div>
<form method="POST" action="{{endpoint}}/{{action}}/{{dbNum}}">
<table width="100%">
	<tr>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}">Id</a></th>
		<th><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?sort=title">Title</a></th>
		<th>Action</th>
		<th>Identifiers</th>
	</tr>
	{% for item in books %}
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.title}}</td>
		<td>{% if bookId == item.id %}<strong>Search</strong>{% else %}<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{item.author}}?bookId={{item.id}}">Search</a>{% endif %}</td>
		<td>
			{% for identifier in item.identifiers %}
				{% if identifier.url %}
					{{identifier.type}}: <a rel="external" target="_blank" href="{{identifier.url}}">{{identifier.value}}</a>
				{% else %}
					{{identifier.type}}: {{identifier.value}}
				{% endif %}
				<br/>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
</form>
{% block lookup %}
{% if authorId %}
<div class="part">
	<p>Lookup:</p>
	{{authorId}}
</div>
{% endif %}
{% endblock lookup %}
{% endblock content %}
