{% extends 'index.html' %}

{% block content %}
<div class="title">
	<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> for <a href="{{endpoint}}/{{action}}/{{dbNum}}">{{dbConfig.name}}</a>
	{% block findlinks %}
	{% endblock findlinks %}
</div>
<table width="100%">
	{{ include('db_header.html') }}
	{{ include('db_entry.html') }}
</table>
<p>Stats Updated: {{statsUpdated}}</p>
<p>
	<b>Callbacks Defined</b>
</p>
<ol>
	{% for key, info in callbacks %}
	<li>{{key}}: {{info.0|class_name}}::{{info.1}}()</li>
	{% endfor %}
</ol>
<p>
	{% if not cacheName %}
		<b>Select Cache</b>
	{% else %}
		<b><a href="{{endpoint}}/{{action}}/{{dbNum}}">Select Cache</a></b>
	{% endif %}
	(for this database)
</p>
<ul>
{% for cache, info in caches %}
	{% if not cacheName %}
	<li><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{cache|lower}}">{{cache}}</a>
		<ul>
			{% for key, val in info %}
			<li>{{key}}: {{val}}</li>
			{% endfor %}
		</ul>
	</li>
	{% elseif cacheName == cache|lower %}
	<li>{% if not cacheType %}
			<b>{{cache}}</b>
		{% else %}
			<b><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{cacheName}}">{{cache}}</a></b>
		{% endif %}
		<ul>
			{% for key, val in info %}
			<li>
				{% if cacheType == key %}
					{% if cacheEntry %}
					<b><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{cacheName}}/{{cacheType}}">{{key}}</a></b>: {{val}}
					{% else %}
					<b>{{key}}</b>: {{val}}
					{% endif %}
				{% else %}
					<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{cacheName}}/{{key}}">{{key}}</a>: {{val}}
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</li>
	{% endif %}
{% endfor %}
</ul>
<p>Stats Updated: {{cacheUpdated}}</p>
{% if messages %}
<p>Messages</p>
<ul>
	{% for key, message in messages %}
	<li>{{message}}</li>
	{% endfor %}
</ul>
{% endif %}
{% if errors %}
<p>Errors</p>
<ul>
	{% for key, error in errors %}
	<li>{{key}}: {{error}}</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock content %}
