<tr>
	<td>{{dbNum}}</td>
	<td>{{dbConfig.name}}</td>
	<td>
		{{dbConfig.authors}}
		{% if actions.wd_author %}
			<a href="{{endpoint}}/wd_author/{{dbNum}}/{{itemId}}" title="WikiData Author">WD</a>
		{% endif %}
		{% if actions.ol_author %}
			<a href="{{endpoint}}/ol_author/{{dbNum}}/{{itemId}}" title="OpenLibrary Author">OL</a>
		{% endif %}
		{% if actions.gr_author %}
			<a href="{{endpoint}}/gr_author/{{dbNum}}/{{itemId}}" title="GoodReads Author">GR</a>
		{% endif %}
	</td>
	<td>
		{{dbConfig.books}}
		{% if actions.wd_books %}
			<a href="{{endpoint}}/wd_books/{{dbNum}}/{{itemId}}" title="WikiData Books">WD</a>
		{% endif %}
		{% if actions.gb_books %}
			<a href="{{endpoint}}/gb_books/{{dbNum}}/{{itemId}}" title="Google Books">GB</a>
		{% endif %}
		{% if actions.ol_books %}
			<a href="{{endpoint}}/ol_books/{{dbNum}}/{{itemId}}" title="OpenLibrary Works">OL</a>
		{% endif %}
		{% if actions.gr_books %}
			<a href="{{endpoint}}/gr_books/{{dbNum}}/{{itemId}}" title="GoodReads Books">GR</a>
		{% endif %}
	</td>
	<td>
		{{dbConfig.series}}
		{% if actions.wd_series %}
			<a href="{{endpoint}}/wd_series/{{dbNum}}/{{itemId}}" title="WikiData Series">WD</a>
		{% endif %}
		{% if actions.gr_series %}
			<a href="{{endpoint}}/gr_series/{{dbNum}}/{{itemId}}" title="GoodReads Series">GR</a>
		{% endif %}
	</td>
	<td>{{dbConfig['notes_db.notes']}}</td>
	<td>{{actionTitle}}</td>
	<td>{{dbConfig.db_path}}</td>
	<td>{{dbConfig.epub_path}}</td>
	<td>{{dbConfig.count}}</td>
</tr>
