{% extends 'index.html' %}

{% macro tree(id, item) %}
	{% if item is iterable %}
		{{id}}:
		<ul>
		{% for key, value in item %}
			<li>
				{{ _self.tree(key, value) }}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		{{id}}:	{{item}}
	{% endif %}
{% endmacro %}

{% block content %}
<div class="title">
	<form method="GET" action="{{endpoint}}">
		<a href="{{endpoint}}?action={{action}}">{{actionTitle}}</a> in <a href="{{endpoint}}?action=authors&dbnum={{dbNum}}&lang={{lang}}">{{dbConfig.name}}</a>
		<input type="hidden" name="action" value="{{action}}" />
		<input type="hidden" name="dbnum" value="{{dbNum}}" />
		Language <select name="lang">
			<option value=""></option>
			{% for id, name in langList %}
			{% if lang and lang == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		Author <select name="authorId">
			<option value=""></option>
			{% for id, name in authors %}
			{% if authorId and authorId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="Find"/>
	</form>
</div>
<form method="POST" action="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&lang={{lang}}">
<table width="100%">
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Action</th>
		<th>Identifiers</th>
	</tr>
	{% for item in books %}
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.title}}</td>
		<td>{% if bookId == item.id %}<strong>Search</strong>{% else %}<a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&lang={{lang}}&authorId={{item.author}}&bookId={{item.id}}">Search</a>{% endif %}</td>
		<td>
			{% for identifier in item.identifiers %}
				{% if identifier.url %}
					{{identifier.type}}: <a href="{{identifier.url}}">{{identifier.value}}</a>
				{% else %}
					{{identifier.type}}: {{identifier.value}}
				{% endif %}
				<br/>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
</form>
{% if authorId %}
<div class="part">
	<p>Google:</p>
	{% if matched %}
	Kind: {{matched.kind}}<br>
	Total: {{matched.totalItems}}<br>
	<table width="100%">
		<tr>
			<th>Author</th>
			<th>Image</th>
			<th>Title</th>
			<th>Date</th>
			<th>Publisher</th>
			<th>Action</th>
			<th>Summary</th>
		</tr>
		<ul>
		{% for item in matched.items %}
		<tr>
			<td>{{item.volumeInfo.authors|join(', ')}}</td>
			<td><img src="{{item.volumeInfo.imageLinks.smallThumbnail}}" /></td>
			<td><a href="{{endpoint}}?action=volume&dbnum={{dbNum}}&lang={{lang}}&matchId={{item.id}}">{{item.volumeInfo.title}}</a> <a href="{{item.selfLink}}">G</a></td>
			<td>{{item.volumeInfo.publishedDate}}</td>
			<td>{{item.volumeInfo.publisher}}</td>
			<td><a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&lang={{lang}}&authorId={{authorId}}&bookId={{bookId}}&matchId={{item.id}}">Match</a></td>
			<td>{{item.searchInfo.textSnippet|raw}}</td>
		</tr>
		<tr>
			<td colspan="7">
				{{item.volumeInfo.description}}
				{#
				<ul>
				{% for key, value in item.volumeInfo %}
					<li>
						{{ _self.tree(key, value) }}
					</li>
				{% endfor %}
				</ul>
				#}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endif %}
{% endblock content %}
