{% extends 'index.html' %}

{% macro tree(id, item) %}
	{% if item is iterable %}
		{{id}}:
		<ul>
		{% for key, value in item %}
			<li>
				{{ _self.tree(key, value) }}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		{{id}}:	{{item}}
	{% endif %}
{% endmacro %}

{% macro show_item(item) %}
	{{item.volumeInfo.authors|join(', ')}}: <a href="{{item.selfLink}}">{{item.volumeInfo.title}} ({{item.id}})</a> on {{item.volumeInfo.publishedDate}} by {{item.volumeInfo.publisher}}
	<p>
		<img src="{{item.volumeInfo.imageLinks.smallThumbnail}}" />
		{{item.searchInfo.textSnippet}}
	</p>
	<ul>
	{% for key, value in item.volumeInfo %}
		<li>
			{{ _self.tree(key, value) }}
		</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% block content %}
<div class="title">
	<form method="GET" action="./index.php">
		<a href="./index.php?action={{action}}">{{actionTitle}}</a> in <a href="./index.php?action=authors&dbnum={{dbNum}}">{{dbConfig.name}}</a>
		<input type="hidden" name="action" value="{{action}}" />
		<input type="hidden" name="dbnum" value="{{dbNum}}" />
		Author <select name="authorId">
			<option value=""></option>
			{% for id, name in authors %}
			{% if authorId and authorId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="Find"/>
	</form>
</div>
<form method="POST" action="./index.php?action={{action}}&dbnum={{dbNum}}">
<table width="100%">
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Action</th>
		<th>Identifiers</th>
	</tr>
	{% for item in books %}
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.title}}</td>
		<td>{% if bookId == item.id %}<strong>Search</strong>{% else %}<a href="./index.php?action={{action}}&dbnum={{dbNum}}&authorId={{item.author}}&bookId={{item.id}}">Search</a>{% endif %}</td>
		<td>{% for identifier in item.identifiers %}{{identifier.type}}: {{identifier.value}}<br/>{% endfor %}</td>
	</tr>
	{% endfor %}
</table>
</form>
{% if authorId %}
<div class="part">
	<p>Google:</p>
	{% if matched %}
	Kind: {{matched.kind}}<br>
	Total: {{matched.totalItems}}<br>
	<table width="100%">
		<tr>
			<th>Author</th>
			<th>Image</th>
			<th>Title</th>
			<th>Date</th>
			<th>Publisher</th>
			<th>Summary</th>
		</tr>
		<ul>
		{% for item in matched.items %}
		<tr>
			<td>{{item.volumeInfo.authors|join(', ')}}</td>
			<td><img src="{{item.volumeInfo.imageLinks.smallThumbnail}}" /></td>
			<td><a href="{{item.selfLink}}">{{item.volumeInfo.title}}</a></td>
			<td>{{item.volumeInfo.publishedDate}}</td>
			<td>{{item.volumeInfo.publisher}}</td>
			<td>{{item.searchInfo.textSnippet|raw}}</td>
		</tr>
		<tr>
			<td colspan="6">
				{{item.volumeInfo.description}}
				{#
				<ul>
				{% for key, value in item.volumeInfo %}
					<li>
						{{ _self.tree(key, value) }}
					</li>
				{% endfor %}
				</ul>
				#}
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endif %}
{% endblock content %}
