{% extends 'authors.html' %}

{% block findlinks %}
{% if not authorId %}
 - <a href="{{endpoint}}/wd_author/{{dbNum}}" title="WikiData Authors">WD Authors</a>
 - <a href="{{endpoint}}/ol_author/{{dbNum}}" title="OpenLibrary Authors">OL Authors</a>
 - <a href="{{endpoint}}/{{action}}/{{dbNum}}?findLinks=1">Find GR Author links</a>
{% endif %}
{% endblock findlinks %}

{% block lookup %}
<div class="part">
	<p><b>GoodReads Author</b></p>
	{% if matched %}
	<table width="100%">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Action</th>
			<th>Link</th>
		</tr>
		{% for match in matched %}
		<tr>
			<td><a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?authId={{match.id}}">{{match.id}}</a></td>
			<td>{{match.name}}</td>
			<td>{% if authorId %}<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?matchId={{match.id}}">Match</a>{% else %}Match{% endif %}</td>
			<td>{% if match.id %}<a rel="external" target="_blank" href="https://www.goodreads.com/author/list/{{match.id}}">GoodReads</a>{% endif %}</td>
		</tr>
		{% if match.books %}
		<tr>
			<td colspan="4">
				<ul>
				{% for entry in match.books %}
				<li><a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?authId={{match.id}}&matchId={{entry.id}}">{{entry.id}}</a> {{entry.title}}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endblock lookup %}
