{% extends 'books.html' %}

{% block lookup %}
{% if authorId %}
<div class="part">
	<p><b>GoodReads Books</b></p>
	{% if matched %}
	<table width="100%">
		<tr>
			<th>Id</th>
			<th>Cover</th>
			<th>Title</th>
			<th>Series</th>
			<th>Action</th>
			<th>Link</th>
		</tr>
		{% for match in matched %}
		<tr>
			<td><a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?bookId={{bookId}}&matchId={{match.id}}">{{match.id}}</a></td>
			<td>{% if match.cover %}<img src="{{match.cover}}" height="100" />{% endif %}</td>
			<td>{{match.title}}</td>
			<td>{% if match.series.id %}<a rel="external" target="_blank" href="https://www.goodreads.com/series/{{match.series.id}}">{{match.series.title}} #{{match.series.index}}</a>{% endif %}</td>
			<td>
				{% if match.series.id %}
					{% if not serId %}
						<a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?serId={{match.series.id}}" title="GoodReads Books in Series">Series</a>
					{% endif %}
				{% endif %}
				{% if bookId %}
					<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?bookId={{bookId}}&matchId={{match.id}}">Match</a>
				{% else %}
					Match
				{% endif %}
			</td>
			<td><a rel="external" target="_blank" href="https://www.goodreads.com/book/show/{{match.key}}">GoodReads</a></td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endif %}
{% endblock lookup %}
