{% extends 'series.html' %}

{% block lookup %}
<div class="part">
	<p><b>GoodReads Series</b></p>
	{% if matched %}
	<table width="100%">
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Count</th>
			<th>Action</th>
			<th>Description</th>
			<th>Link</th>
		</tr>
		{% for match in matched %}
		<tr>
			<td><a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?matchId={{match.id}}">{{match.id}}</a></td>
			<td>{{match.title}}</td>
			<td><a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&serId={{match.id}}" title="GoodReads Books in Series">{{match.count}}</a></td>
			<td>{% if seriesId %}<a href="{{endpoint}}/{{action}}/{{dbNum}}/{{authorId}}?seriesId={{seriesId}}&matchId={{match.id}}">Match</a>{% endif %}</td>
			<td>{{match.description|raw}}</td>
			<td><a rel="external" target="_blank" href="{{match.link}}">GoodReads</a></td>
		</tr>
		{% if match.books %}
		<tr>
			<td colspan="6">
				<ul>
				{% for entry in match.books %}
				<li><a href="{{endpoint}}/gr_books/{{dbNum}}/{{authorId}}?matchId={{entry.id}}">{{entry.id}}</a> {{entry.title}}</li>
				{% endfor %}
				</ul>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
		</table>
	{% else %}
		No match found
	{% endif %}
</div>
{% endblock lookup %}
