{% extends 'index.html' %}

{% block content %}
<table width="100%">
	<tr>
		<th>Type</th>
		<th>Notes</th>
	</tr>
	{% for colName, numItems in notescount %}
	<tr>
		<td><a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&colName={{colName}}">{{colName}}</a></td>
		<td>{{numItems}}</td>
	</tr>
	{% endfor %}
</table>
{% if colName %}
<div class="part">
	<p>{{colName}} notes:</p>
	<ul>
		{% for id, item in items %}
		<li>
			{% set timestamp = (item.mtime)|round(0, 'floor') %}
			<a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&colName={{colName}}&itemId={{id}}">{{id}}</a>: {{timestamp|date('Y-m-d')}} [{{item.doc|length}}]
			{% if itemId == id %}
				{% if html %}
					{{item.doc|raw}}
				{% else %}
					<a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&colName={{colName}}&itemId={{id}}&html=1">html</a>
					<pre>{{item.doc}}</pre>
				{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock content %}
