{% extends 'index.html' %}

{% macro tree(id, item) %}
	{% if item is iterable %}
		{% if 0 in item|keys %}
			{{id}}: 
			<ol>
			{% for key, value in item %}
				<li>
					{{ _self.tree(0, value) }}
				</li>
			{% endfor %}
			</ol>
		{% elseif id == 0 %}
			<ul>
			{% for key, value in item %}
				<li>
					{{ _self.tree(key, value) }}
				</li>
			{% endfor %}
			</ul>
		{% elseif item|length == 0 %}
			{{id}}
		{% else %}
			{{id}}: 
			<ul>
			{% for key, value in item %}
				<li>
					{{ _self.tree(key, value) }}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% elseif id == 0 %}
		{{item}}
	{% else %}
		{{id}}: {{item}}
	{% endif %}
{% endmacro %}

{% block content %}
<div class="title">
	<form method="GET" action="{{endpoint}}/{{action}}/{{dbNum}}">
		<a href="{{endpoint}}/{{action}}">{{actionTitle}}</a> in <a href="{{endpoint}}/ol_books/{{dbNum}}">{{dbConfig.name}}</a>
		Work <input type="text" name="matchId" value="{{workId}}" />
		<input type="submit" value="Find"/>
	</form>
</div>
<div><b>Open Library Work {{workId}}</b></div>
{% if workId ends with 'A' %}
<p>See <a href="{{endpoint}}/caches/{{dbNum}}/openlibrary/entities/A?entry={{workId}}">cache entry</a></p>
<img src="https://covers.openlibrary.org/a/olid/{{workId}}-M.jpg"/>
{% endif %}
{% if workId ends with 'W' and work.covers %}
<p>See <a href="{{endpoint}}/caches/{{dbNum}}/openlibrary/entities/W?entry={{workId}}">cache entry</a></p>
<img src="https://covers.openlibrary.org/b/id/{{work.covers|sort|first}}-M.jpg"/>
{% endif %}
<ul>
{% for key, value in work %}
	<li>
		{{ _self.tree(key, value) }}
	</li>
{% endfor %}
</ul>
{% endblock content %}
