<tr>
	<td>
		{% if paging.first %}
			<a href="{{endpoint}}/{{action}}/{{dbNum}}?{{paging.first}}">&nbsp;|&lt;&nbsp;</a>
		{% else %}
		{% endif %}
	</td>
	<td>
		{% if paging.prev %}
			<a href="{{endpoint}}/{{action}}/{{dbNum}}?{{paging.prev}}">&nbsp;&lt;&nbsp;</a>
		{% else %}
		{% endif %}
	</td>
	<td>
		{% if paging.next %}
			<a href="{{endpoint}}/{{action}}/{{dbNum}}?{{paging.next}}">&nbsp;&gt;&nbsp;</a>
		{% else %}
		{% endif %}
	</td>
	<td>
		{% if paging.last %}
			<a href="{{endpoint}}/{{action}}/{{dbNum}}?{{paging.last}}">&nbsp;&gt;|&nbsp;</a>
		{% else %}
		{% endif %}
	</td>
	<td></td>
</tr>
