{% extends 'index.html' %}

{% block content %}
<div class="title">
	<form method="GET" action="{{endpoint}}">
		<a href="{{endpoint}}?action={{action}}">{{actionTitle}}</a> in <a href="{{endpoint}}?action=wd_books&dbnum={{dbNum}}&authorId={{authorId}}">{{dbConfig.name}}</a>
		<input type="hidden" name="action" value="{{action}}" />
		<input type="hidden" name="dbnum" value="{{dbNum}}" />
		Author <select name="authorId">
			<option value=""></option>
			{% for id, name in authors %}
			{% if authorId and authorId == id %}
			<option value="{{id}}" selected>{{name}}</option>
			{% else %}
			<option value="{{id}}">{{name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="Find"/>
		<a href="{{endpoint}}?action=wd_author&dbnum={{dbNum}}&authorId={{authorId}}" title="WikiData Author">Check</a>
		<a href="{{endpoint}}?action=wd_books&dbnum={{dbNum}}&authorId={{authorId}}" title="WikiData Books">Books</a>
		<a href="{{endpoint}}?action=wd_series&dbnum={{dbNum}}&authorId={{authorId}}" title="WikiData Series">Series</a>
		<a href="{{endpoint}}?action=gb_books&dbnum={{dbNum}}&authorId={{authorId}}" title="Google Books">Google</a>
		<a href="{{endpoint}}?action=ol_author&dbnum={{dbNum}}&authorId={{authorId}}" title="OpenLibrary Author">Author</a>
		<a href="{{endpoint}}?action=ol_books&dbnum={{dbNum}}&authorId={{authorId}}" title="OpenLibrary Works">Works</a>
	</form>
</div>
<form method="POST" action="{{endpoint}}?action={{action}}&dbnum={{dbNum}}">
<table width="100%">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Action</th>
	</tr>
	{% for item in series %}
	<tr>
		<td>{{item.id}}</td>
		<td>{{item.name}}</td>
		<td>{% if seriesId == item.id %}<strong>Search</strong>{% else %}<a href="{{endpoint}}?action={{action}}&dbnum={{dbNum}}&authorId={{item.author}}&seriesId={{item.id}}">Search</a>{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</form>
{% block lookup %}
{% if authorId %}
<div class="part">
	<p>Lookup:</p>
	{{authorId}}
</div>
{% endif %}
{% endblock lookup %}
{% endblock content %}
